<a href="https://colab.research.google.com/github/JatindraPatel/Learning-Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS :-

Pandas is a Python library used for data analysis and data manipulation. It’s
one of the most important tools for data analysts, data scientists, and machine learning engineers.


In short padas is use for the data visulatization.

Pandas helps you read, clean, analyze, and process data easily — just like Excel but with Python code.

Pandas is like Excel + SQL + Python — all combined in one tool for data work.

In [ ]:
# 1-D Series using list :-

import pandas as pd
x=pd.Series([1,2,3,4,5])
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# 1-D Series using tuple :-

import pandas as pd
a=(1,2,3,4,5)
x=pd.Series(a)
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(x)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'],name='jai')
print(x)

a    1
b    2
c    3
d    4
Name: jai, dtype: int64

In [ ]:
print(x['b'])
print(x[-1])

2
4

/tmp/ipython-input-1583931744.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(x[-1])

In [ ]:
import pandas as pd
x=pd.Series(range(10),name='Kajal')
print(x)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: Kajal, dtype: int64

In [ ]:
import pandas as pd
x=pd.Series(range(1,11),name='Kajal')
print(x)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Kajal, dtype: int64

In [ ]:
import pandas as pd
x=pd.Series(range(1,10),name='Kajal',index=[x for x in 'abcdefghi'])
print(x)


# OR

import pandas as pd
x = pd.Series(range(1, 10), name='Kajal', index=list('abcdefghi'))
print(x)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64

# Series using NumPy Array :-

In [ ]:
import pandas as pd
import numpy as np
df=np.array([1,2,3,4,5])
print(df)

df1=pd.Series(df,name='Ajay')
print(df1)

[1 2 3 4 5]
0    1
1    2
2    3
3    4
4    5
Name: Ajay, dtype: int64

# 11-10-2025
#Series using mathamatical expression :-

In [ ]:
import numpy as np
import pandas as pd
ser=np.arange(10,15)
serobj= pd.Series(data=ser*5,index=ser)
print(serobj)


import numpy as np
import pandas as pd
ser=np.arange(10,15)
serobj= pd.Series(data=ser*5,name='Sachin')
print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int64
0    50
1    55
2    60
3    65
4    70
Name: Sachin, dtype: int64

**Series with linspace Function**

# np.arange()
---- Create sequence with a step size

**Syntax**

----- np.arange(start, stop, step)

# np.linspace()
------ Create sequence with a fixed number of elements

**Syntax**

------ np.linspace(start, stop, num)

In [ ]:
import numpy as np
import pandas as pd
# series with numpy linspace()
ser1=pd.Series(np.linspace(3,33,3))
print(ser1)

# series with numpy linspace()
ser1=pd.Series(np.linspace(3,33,3),index=list('abc'))
print(ser1)

# series with numpy linspace()
ser3=pd.Series(np.linspace(3,33,4))
print(ser3)

# series with numpy linspace()
ser3=pd.Series(np.linspace(3,33,4),index=list('abcd'))
print(ser3)

# series with numpy linspace()
ser4=pd.Series(np.linspace(1,100,10))
print(ser4)

0     3.0
1    18.0
2    33.0
dtype: float64
a     3.0
b    18.0
c    33.0
dtype: float64
0     3.0
1    13.0
2    23.0
3    33.0
dtype: float64
a     3.0
b    13.0
c    23.0
d    33.0
dtype: float64
0      1.0
1     12.0
2     23.0
3     34.0
4     45.0
5     56.0
6     67.0
7     78.0
8     89.0
9    100.0
dtype: float64

# # Series with Arange function :-

In [ ]:
import numpy as np
import pandas as pd
# Seiers with Arange :-
arr=pd.Series(np.arange(3,33,3))
print(arr)

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
9    30
dtype: int64

# Concat function

In [ ]:
import pandas as pd
ser1=pd.Series([2,4,6,8])
ser2=pd.Series([10,12,14,16])
ser3=pd.concat([ser1,ser2],axis=0)
print(ser3)

0     2
1     4
2     6
3     8
0    10
1    12
2    14
3    16
dtype: int64

In [ ]:
import pandas as pd
ser1=pd.Series([2,4,6,8])
ser2=pd.Series([10,12,14,16])
ser3=pd.concat([ser1,ser2],axis=1)
print(ser3)

   0   1
0  2  10
1  4  12
2  6  14
3  8  16

# Series from Dictionary :-

A dictionary is a Python data type that stores data in key–value pairs, allowing fast access using the key.

**Synatx**

dictionary_name = { key1: value1, key2: value2, key3: value3 }

In [ ]:
import numpy as np
import pandas as pd
info={'x':1,'y':2,'z':3}
a=pd.Series(info)
print(a)

x    1
y    2
z    3
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
info={'x':1,'y':2,'z':3}
a=pd.Series(info,index=[1,2,3])
print(a)

1   NaN
2   NaN
3   NaN
dtype: float64

In [ ]:
import numpy as np
import pandas as pd
info={'x':1,'y':2,'z':3}
a=pd.Series(info,index=['x','y','s'])
print(a)

x    1.0
y    2.0
s    NaN
dtype: float64

21-10-2025
# Series

In [ ]:
import numpy as np
import pandas as pd

y = pd.Series(data=[11, 2, 18], index=['a', 'b', 'c'])

print(y.index)
print(y.values)

Index(['a', 'b', 'c'], dtype='object')
[11  2 18]

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
print(a.dtype)
print(a.nbytes)
print(a.size)

int64
32
4

In [ ]:
import numpy as np
import pandas as pd
b=pd.Series(data=[4,9,8,6,5], index=['x','y','z','a','b'])
print(b.dtype)
print(b.nbytes)
print(b.size)

int64
40
5

**Shape**

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
print(a.shape)
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
print(b.shape)

(4,)
(3,)

**Retrive Dimension**

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
print(a.size,b.size)
print(a.nbytes,b.nbytes)
print(a.ndim,b.ndim)

4 3
32 24
1 1

**Emptiness check**

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,np.nan])
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
c=pd.Series()
print(a.empty,b.empty,c.empty)
print(a.hasnans,b.hasnans,c.hasnans)

False False True
True False False

**28-10-2025**

# Data Frame :-
it is use to create 2-d tbale od data structure

structurec :-
pd.DataFrame(.........)

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data,index=[10,11,12,13,14])
print(df)

    0
10  1
11  2
12  3
13  4
14  5

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data,index=[10,11,12,13,14],columns=['a'])
print(df)

    a
10  1
11  2
12  3
13  4
14  5

In [ ]:
import pandas as pd
data=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(data)
print(df)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [ ]:
import pandas as pd
data=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(data,index=['r1','r2'])
print(df)

    0  1  2  3   4
r1  1  2  3  4   5
r2  6  7  8  9  10

In [ ]:
import pandas as pd
data=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(data,index=['r1','r2'],columns=['a','b','c','d','e'])
print(df)

    a  b  c  d   e
r1  1  2  3  4   5
r2  6  7  8  9  10

In [ ]:
import pandas as pd
df=pd.DataFrame([[1,2],[3,4]],index=['r1','r2'],columns=['a','b'])
print(df)

    a  b
r1  1  2
r2  3  4

In [ ]:
import pandas as pd
data=[['Alex',10],['BoB',20],['Clarke',15]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     BoB   20
2  Clarke   15

In [ ]:
import pandas as pd
data=[['Alex',10],['BoB',20],['Clarke',15]]
df=pd.DataFrame(data,columns=['Name','Age'],index=[1,2,3])
print(df)

     Name  Age
1    Alex   10
2     BoB   20
3  Clarke   15

In [ ]:
import pandas as pd
data={'Name':['Ram','Tom','Jack','Steeve'],'Age':[22,34,21,20]}
df=pd.DataFrame(data)
print(df)

     Name  Age
0     Ram   22
1     Tom   34
2    Jack   21
3  Steeve   20

In [ ]:
import pandas as pd
data={'Name':['Ram','Tom','Jack','Steeve'],'Age':[22,34,21,20]}
df=pd.DataFrame(data,index=[1,2,3,4])
print(df)

     Name  Age
1     Ram   22
2     Tom   34
3    Jack   21
4  Steeve   20

In [ ]:
import pandas as pd
data=[{'a':15,'b':21},{'a':38,'b':40,'c':54}]
df=pd.DataFrame(data,index=[1,2])
print(df)

    a   b     c
1  15  21   NaN
2  38  40  54.0

# 03-11-2025

Ransom Function

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df)

          x         y         z         w
a  0.944557 -0.517108  0.476925  1.106925
b -0.096011 -0.998947  0.080132 -0.697286
c  0.785256  1.196798 -1.009753  0.923572
d -0.652500 -2.177102 -1.575959 -0.400528
e -0.680702  0.647378  1.001572  0.712690

In [ ]:
df[df['x']>0]

          x         y         z         w
a  0.944557 -0.517108  0.476925  1.106925
c  0.785256  1.196798 -1.009753  0.923572

In [ ]:
df['x']

a    0.944557
b   -0.096011
c    0.785256
d   -0.652500
e   -0.680702
Name: x, dtype: float64

In [ ]:
df['x']>0

a     True
b    False
c     True
d    False
e    False
Name: x, dtype: bool

In [ ]:
print(df[df['x']>0].loc['b']['w'])

KeyError: 'b'

**Logical Operator**

# AND &

In [ ]:
df[(df['x']>0) & (df['w']>1)]

# Or |

In [ ]:
df[(df['x']>0) | (df['w']>1)]

# NOT !

Not with and { & }

In [ ]:
df[~((df['x'] > 0) & (df['w'] > 1))]

Not with | { or }

In [ ]:
df[~((df['x'] > 0) | (df['w'] > 1))]

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df)
print(df.reset_index())

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
outer=['a','a','a','b','b','b']
inner=[1,2,3,1,2,3]
h_index=list(zip(outer,inner))
h_index=pd.MultiIndex.from_tuples(h_index)
df1=pd.DataFrame(randn(6,2))
print(df1)

In [ ]:
df1=pd.DataFrame(randn(6,2),h_index)
print(df1)

In [ ]:
df1=pd.DataFrame(randn(6,2),h_index,['A','B'])
print(df1)

# INDEX,, REINDEX,, Rename

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
print(df.index)
print(df)

In [ ]:
df.set_index('A', inplace=True) # Sets column 'A' as the new index
print(df)

In [ ]:
df.set_index('B', inplace=True) # Sets column 'A' as the new index
print(df)

In [ ]:
df.reset_index(inplace=True) # Converts the index back to a column and creates a default integer index
print(df)

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3]}, index=['x', 'y', 'z'])
new_index = ['z','y','a']
df_reindexed = df.reindex(new_index, fill_value=0)
print(df_reindexed)

In [ ]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
new_columns = ['B', 'C']
df_reindexed_cols = df.reindex(columns=new_columns)
print(df_reindexed_cols)

In [ ]:
df = pd.DataFrame({'A': [1, 2]}, index=['old_idx1', 'old_idx2'])
df_renamed_idx = df.rename(index={'old_idx1': 'new_idx1'})
print(df_renamed_idx)

# **07-11-2025**

#**Group By**

group by m table hamesha logical bnte h internl memory me bo physicl nhi dikhte direct.
usko dekhne ke liye print k use krna hoga hamesha

or syntax

df1=df.groupby().groups

print(df1)

likhna hoga hamesha

In [ ]:
import pandas as pd
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

Point ke base pr group banana useless h kuki sab unique h

In [ ]:
df1=df.groupby('Points').groups
print(df1)

In [ ]:
df1=df.groupby('Year').groups
print(df1)

**MAX**

In [ ]:
df2=df.groupby('Year').max()
print(df2)

In [ ]:
df2=df.groupby('Year').max()['Points']
print(df2)

In [ ]:
df2=df.groupby('Year').max()[['Rank','Points']]
print(df2)

**Mean**

In [ ]:
df2=df.groupby('Year')['Points'].mean()
print(df2)

**SUM**

In [ ]:
df2=df.groupby('Year').sum()[['Rank','Points']]
print(df2)

**AGG**

In [ ]:
df2=df.groupby('Year')['Points'].agg('sum')
print(df2)

#**Transformation**

In [ ]:
import  pandas as pd
import numpy as np
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

In [ ]:
Grouped=df.groupby('Team')
print(Grouped.groups)

In [ ]:
Grouped=df.groupby('Team')
score= lambda x:x+20
print(Grouped.transform(score))
# +20 in each value like { 1 = 21, 2014= 2034.......}

# **08-11-2025**

#**Filteration**

In [ ]:
import  pandas as pd
import numpy as np
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

In [ ]:
print(df.groupby('Team').filter(lambda x:len(x)>=3))
# it work as same as in sql group by having count

In [ ]:
print(df.groupby('Team').filter(lambda x:len(x)==2))
# it work as same as in sql group by having count

In [ ]:
print(df.groupby('Team').filter(lambda x:len(x)<=3))
# it work as same as in sql group by having count

#**WORK ON DATA-SET**

# IMDB DATASET

**QUESTION`s**

PRACTICE SET :-

1. Write a Python Pandas program to get the columns of the DataFrame ?
2. Write a Pandas program to get the information of the DataFrame ?
3. Write a Pandas program to get the details of the third movie of the DataFrame ?
4. Write a Pandas program to count the number of rows and columns of the     DataFrame ?
5. Write a Pandas program to get the details of the columns name and genres of the DataFrame ?
6. Write a Pandas program to get the details of the movie with name 'Grumpier Old Men'?
7. Write a Pandas program to get the details of fifth movie of the DataFram ?
8. Write a Pandas program to create a smaller Dataframe with a subset of all features ?
9. Write a Pandas program to display the first 10 rows of the Dataframe ?
10. Write a Pandas program to sort the DataFrame based on duration ?
11. Write a Pandas program to access those movies, released after 1995-01-01......?
12. Write a Pandas program to sort movies on runtime in descending order......?
13. Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million......?
14. Write a Pandas program to get the longest runtime and shortest runtime.....?
15. Write a Pandas program to calculate the number of votes garnered by the 70% movie.....?
16. Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.....?
17. Write a Pandas program to display the movies (title, number of votes) that received specified number of votes.....?

In [ ]:
# Data-set import

import pandas as pd
df=pd.read_csv('/content/imdb_data.csv')
print(df)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df['budget']

In [ ]:
# Write a Python Pandas program to get the columns of the DataFrame.....?

import pandas as pd
df=pd.read_csv("/content/imdb_data.csv")
print(df.columns)

In [ ]:
# Write a Pandas program to get the information of the DataFrame ......?

print(df.info())

In [ ]:
# Write a Pandas program to get the details of the third movie of the DataFrame....?
df.loc[2]

In [ ]:
# Write a Pandas program to count the number of rows and columns of the DataFrame..........?
print(df.shape)

In [ ]:
# Write a Pandas program to get the details of the columns name and genres of the DataFrame ?

print(df[['title','genres']])

In [ ]:
# Write a Pandas program to get the details of the movie with name 'Grumpier Old Men'?

print(df[df['title']=='Grumpier Old Men'])

In [ ]:
# Write a Pandas program to get the details of fifth movie of the DataFram ?

print(df.loc[4])

In [ ]:
# Write a Pandas program to display the first 10 rows of the Dataframe ?

print(df.head(10))

In [ ]:
#  Write a Pandas program to create a smaller Dataframe with a subset of all features ?

In [ ]:
import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')
# Write a Pandas program to sort the DataFrame based on duration ?
df_sorted_by_runtime = df.sort_values(by='runtime', ascending=True)
print(df_sorted_by_runtime.head(10))

In [ ]:
import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')

In [ ]:
# Write a pandas program to access those movies released after 1995-01-01..?


import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')

df = df[df['release_date'] > '1995-01-01']['title']
print(df)

In [ ]:
# Write a Pandas program to sort movies on runtime in descending order......?

import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')

df.sort_values(['runtime'], ascending=False)[['runtime','original_title']]

In [ ]:
# Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million....?


import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')
df[(df['revenue']>2000000)&(df['budget']<1000000)]['original_title']

In [ ]:
# Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.....?

import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')
df[df['runtime']>30][df['runtime']<360]['original_title']

/tmp/ipython-input-2821857282.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['runtime']>30][df['runtime']<360]['original_title']

0                         Hot Tub Time Machine 2
1       The Princess Diaries 2: Royal Engagement
2                                       Whiplash
3                                        Kahaani
4                                           마린보이
                          ...
2995                                     Chasers
2996                                 Vi är bäst!
2997                     The Long Kiss Goodnight
2998                            Along Came Polly
2999                                   Abduction
Name: original_title, Length: 2985, dtype: object

In [ ]:
# Write a Pandas program to calculate the number of votes garnered by the 70% movie...?


import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')
print(df[''])

In [ ]:
# Write a progrm in pandas to get the longest and the shortest movie by runtime....?


import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')
print("Largest runtime of movie is :- ", df['runtime'].max())
print("Shortest runtime of movie is :- ", df['runtime'].min())

Largest runtime of movie is :-  338.0
Shortest runtime of movie is :-  0.0

In [ ]:
# Write a Pandas program to display the movies (title, number of votes) that received specified number of votes.....?



import pandas as pd
df = pd.read_csv('/content/imdb_data.csv')
print(df['title'])

# NEW DATSET ds salary

**Practice Dataset**

1. WAP in pandas find out first 5 employe info...?

In [1]:
import pandas as pd
df=pd.read_csv('/content/ds_salaries.csv')
df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [ ]:
# 1. WAP in pandas find out first 5 employe info...? // by default head give 5 value
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [ ]:
# WAP in pandas to find out the last 5 employee info.......? by default tail give 5 value
df.tail()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [2]:
# WAP in pandas find out how many entries are there.........?

df.shape

(607, 12)

In [ ]:
# WAP in pandas find out the info of dataset........?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [ ]:
# WAP in pandas find out the name of columns........?

df.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [ ]:
#  WAP in pandas to find out the avg base pay..? // avg does not work in pandas in the place of we use mean

df['salary'].mean()

np.float64(324000.0626029654)

In [ ]:
# WAP in pandas to find out the max salary..?
df['salary'].max()

30400000

In [ ]:
# WAP in pandas to find out the min salary..?
df['salary'].min()

4000

In [ ]:
# WAP in pandas to find out the job title of exp level MI .....?

df[df['experience_level']== 'MI']['job_title']

0             Data Scientist
3       Product Data Analyst
7             Data Scientist
8      Business Data Analyst
11            Data Scientist
               ...
567             Data Analyst
586             Data Analyst
598           Data Scientist
599           Data Scientist
606             AI Scientist
Name: job_title, Length: 213, dtype: object

In [ ]:
# WAP in pandas to find out the unique job title..?

df['job_title'].unique()

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
       'Director of Data Science', 'Research Scientist',
       'Machine Learning Manager', 'Data Engineering Manager',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'AI Scientist', 'Computer Vision Engineer',
       'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
       '3D Computer Vision Researcher', 'Data Analytics Engineer',
       'Applied Data Scientist', 'Marketing Data Analyst',
       'Cloud Data Engineer', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Machine Learning Developer',
       'Applied Machine Learning Scientist', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
       'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead'],
      dtype=object)

In [ ]:
# WAP in pandas to find out the no. of unique job title..?\

df['job_title'].nunique()

50

In [ ]:
# WAP in pandas to find info of highest paid person..?

df[df['salary']==df['salary'].max()]

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
177,177,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L

In [ ]:
# WAP in pandas to find info of lowest paid person..?


df[df['salary']==df['salary'].min()]

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
185,185,2021,MI,FT,Data Engineer,4000,USD,4000,IR,100,IR,M
238,238,2021,EN,FT,Data Scientist,4000,USD,4000,VN,0,VN,M

In [ ]:
# WAP in pandas to find out the employe type highest paid person..?

df[df['salary']==df['salary'].max()]['employment_type']

177    FT
Name: employment_type, dtype: object

In [ ]:
# WAP in pandas to find out the no of employe by job.....?

df['job_title'].value_counts()

job_title
Data Scientist                              143
Data Engineer                               132
Data Analyst                                 97
Machine Learning Engineer                    41
Research Scientist                           16
Data Science Manager                         12
Data Architect                               11
Machine Learning Scientist                    8
Big Data Engineer                             8
Director of Data Science                      7
AI Scientist                                  7
Principal Data Scientist                      7
Data Science Consultant                       7
Data Analytics Manager                        7
BI Data Analyst                               6
Computer Vision Engineer                      6
ML Engineer                                   6
Lead Data Engineer                            6
Applied Data Scientist                        5
Business Data Analyst                         5
Data Engineering Manager                      5
Head of Data                                  5
Data Analytics Engineer                       4
Head of Data Science                          4
Applied Machine Learning Scientist            4
Analytics Engineer                            4
Machine Learning Developer                    3
Data Science Engineer                         3
Lead Data Analyst                             3
Machine Learning Infrastructure Engineer      3
Lead Data Scientist                           3
Principal Data Engineer                       3
Computer Vision Software Engineer             3
Product Data Analyst                          2
ETL Developer                                 2
Cloud Data Engineer                           2
Financial Data Analyst                        2
Director of Data Engineering                  2
Principal Data Analyst                        2
Machine Learning Manager                      1
Marketing Data Analyst                        1
3D Computer Vision Researcher                 1
Finance Data Analyst                          1
Data Specialist                               1
Staff Data Scientist                          1
Big Data Architect                            1
Head of Machine Learning                      1
NLP Engineer                                  1
Lead Machine Learning Engineer                1
Data Analytics Lead                           1
Name: count, dtype: int64

In [ ]:
# WAP in pandas to find out the no of employe by job  in ascending manner....?

df['job_title'].value_counts(ascending= True)

job_title
Machine Learning Manager                      1
Marketing Data Analyst                        1
3D Computer Vision Researcher                 1
NLP Engineer                                  1
Head of Machine Learning                      1
Big Data Architect                            1
Staff Data Scientist                          1
Data Specialist                               1
Lead Machine Learning Engineer                1
Data Analytics Lead                           1
Finance Data Analyst                          1
Product Data Analyst                          2
Financial Data Analyst                        2
Cloud Data Engineer                           2
Director of Data Engineering                  2
Principal Data Analyst                        2
ETL Developer                                 2
Computer Vision Software Engineer             3
Machine Learning Infrastructure Engineer      3
Data Science Engineer                         3
Machine Learning Developer                    3
Principal Data Engineer                       3
Lead Data Scientist                           3
Lead Data Analyst                             3
Applied Machine Learning Scientist            4
Head of Data Science                          4
Analytics Engineer                            4
Data Analytics Engineer                       4
Business Data Analyst                         5
Applied Data Scientist                        5
Head of Data                                  5
Data Engineering Manager                      5
ML Engineer                                   6
BI Data Analyst                               6
Lead Data Engineer                            6
Computer Vision Engineer                      6
Data Analytics Manager                        7
Principal Data Scientist                      7
AI Scientist                                  7
Director of Data Science                      7
Data Science Consultant                       7
Machine Learning Scientist                    8
Big Data Engineer                             8
Data Architect                               11
Data Science Manager                         12
Research Scientist                           16
Machine Learning Engineer                    41
Data Analyst                                 97
Data Engineer                               132
Data Scientist                              143
Name: count, dtype: int64

In [3]:
# WAP in pandas to find top 2 most common job..?

df['job_title'].value_counts().head(2)

job_title
Data Scientist    143
Data Engineer     132
Name: count, dtype: int64

# 13-11-2025

# JOINS :-

In [7]:
import pandas as pd
df1=pd.DataFrame({'Name':['a','b','c'],'Salary':[12000,13000,24000]})
print(df1)
df2=pd.DataFrame({'Name':['a','b','c'],'Age':[12,13,24]})
print(df2)
pd.merge(df1,df2,on='Name')

  Name  Salary
0    a   12000
1    b   13000
2    c   24000
  Name  Age
0    a   12
1    d   13
2    c   24

  Name  Salary  Age
0    a   12000   12
1    c   24000   24

In [8]:
import pandas as pd
df1=pd.DataFrame({'Name':['a','b','c'],'Salary':[12000,13000,24000]})
print(df1)
df2=pd.DataFrame({'Name':['a','d','e'],'Age':[12,13,24]})
print(df2)
pd.merge(df1,df2,on='Name')

  Name  Salary
0    a   12000
1    b   13000
2    c   24000
  Name  Age
0    a   12
1    d   13
2    e   24

  Name  Salary  Age
0    a   12000   12

In [9]:
pd.merge(df1,df2,on='Name',how='inner')

  Name  Salary  Age
0    a   12000   12

In [10]:
pd.merge(df1,df2,on='Name',how='left')

  Name  Salary   Age
0    a   12000  12.0
1    b   13000   NaN
2    c   24000   NaN

In [13]:
pd.merge(df1,df2,on='Name',how='right')

  Name   Salary  Age
0    a  12000.0   12
1    d      NaN   13
2    e      NaN   24

In [14]:
pd.merge(df1,df2,on='Name',how='outer')

  Name   Salary   Age
0    a  12000.0  12.0
1    b  13000.0   NaN
2    c  24000.0   NaN
3    d      NaN  13.0
4    e      NaN  24.0