<a href="https://colab.research.google.com/github/JatindraPatel/Learning-Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS :-

Pandas is a Python library used for data analysis and data manipulation. It’s
one of the most important tools for data analysts, data scientists, and machine learning engineers.


In short padas is use for the data visulatization.

Pandas helps you read, clean, analyze, and process data easily — just like Excel but with Python code.

Pandas is like Excel + SQL + Python — all combined in one tool for data work.

In [ ]:
# 1-D Series using list :-

import pandas as pd
x=pd.Series([1,2,3,4,5])
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# 1-D Series using tuple :-

import pandas as pd
a=(1,2,3,4,5)
x=pd.Series(a)
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(x)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'],name='jai')
print(x)

a    1
b    2
c    3
d    4
Name: jai, dtype: int64

In [ ]:
print(x['b'])
print(x[-1])

2
4

/tmp/ipython-input-1583931744.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(x[-1])

In [ ]:
import pandas as pd
x=pd.Series(range(10),name='Kajal')
print(x)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: Kajal, dtype: int64

In [ ]:
import pandas as pd
x=pd.Series(range(1,11),name='Kajal')
print(x)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Kajal, dtype: int64

In [ ]:
import pandas as pd
x=pd.Series(range(1,10),name='Kajal',index=[x for x in 'abcdefghi'])
print(x)


# OR

import pandas as pd
x = pd.Series(range(1, 10), name='Kajal', index=list('abcdefghi'))
print(x)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64

# Series using NumPy Array :-

In [ ]:
import pandas as pd
import numpy as np
df=np.array([1,2,3,4,5])
print(df)

df1=pd.Series(df,name='Ajay')
print(df1)

[1 2 3 4 5]
0    1
1    2
2    3
3    4
4    5
Name: Ajay, dtype: int64

# 11-10-2025
#Series using mathamatical expression :-

In [5]:
import numpy as np
import pandas as pd
ser=np.arange(10,15)
serobj= pd.Series(data=ser*5,index=ser)
print(serobj)


import numpy as np
import pandas as pd
ser=np.arange(10,15)
serobj= pd.Series(data=ser*5,name='Sachin')
print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int64
0    50
1    55
2    60
3    65
4    70
Name: Sachin, dtype: int64

**Series with linspace Function**

# np.arange()
---- Create sequence with a step size

**Syntax**

----- np.arange(start, stop, step)

# np.linspace()
------ Create sequence with a fixed number of elements

**Syntax**

------ np.linspace(start, stop, num)

In [7]:
import numpy as np
import pandas as pd
# series with numpy linspace()
ser1=pd.Series(np.linspace(3,33,3))
print(ser1)

# series with numpy linspace()
ser1=pd.Series(np.linspace(3,33,3),index=list('abc'))
print(ser1)

# series with numpy linspace()
ser3=pd.Series(np.linspace(3,33,4))
print(ser3)

# series with numpy linspace()
ser3=pd.Series(np.linspace(3,33,4),index=list('abcd'))
print(ser3)

# series with numpy linspace()
ser4=pd.Series(np.linspace(1,100,10))
print(ser4)

0     3.0
1    18.0
2    33.0
dtype: float64
a     3.0
b    18.0
c    33.0
dtype: float64
0     3.0
1    13.0
2    23.0
3    33.0
dtype: float64
a     3.0
b    13.0
c    23.0
d    33.0
dtype: float64
0      1.0
1     12.0
2     23.0
3     34.0
4     45.0
5     56.0
6     67.0
7     78.0
8     89.0
9    100.0
dtype: float64

# # Series with Arange function :-

In [8]:
import numpy as np
import pandas as pd
# Seiers with Arange :-
arr=pd.Series(np.arange(3,33,3))
print(arr)

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
9    30
dtype: int64

# Concat function

In [9]:
import pandas as pd
ser1=pd.Series([2,4,6,8])
ser2=pd.Series([10,12,14,16])
ser3=pd.concat([ser1,ser2],axis=0)
print(ser3)

0     2
1     4
2     6
3     8
0    10
1    12
2    14
3    16
dtype: int64

In [10]:
import pandas as pd
ser1=pd.Series([2,4,6,8])
ser2=pd.Series([10,12,14,16])
ser3=pd.concat([ser1,ser2],axis=1)
print(ser3)

   0   1
0  2  10
1  4  12
2  6  14
3  8  16