<a href="https://colab.research.google.com/github/JatindraPatel/Learning-Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS :-

Pandas is a Python library used for data analysis and data manipulation. It’s
one of the most important tools for data analysts, data scientists, and machine learning engineers.


In short padas is use for the data visulatization.

Pandas helps you read, clean, analyze, and process data easily — just like Excel but with Python code.

Pandas is like Excel + SQL + Python — all combined in one tool for data work.

In [ ]:
# 1-D Series using list :-

import pandas as pd
x=pd.Series([1,2,3,4,5])
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# 1-D Series using tuple :-

import pandas as pd
a=(1,2,3,4,5)
x=pd.Series(a)
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(x)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'],name='jai')
print(x)

a    1
b    2
c    3
d    4
Name: jai, dtype: int64

In [ ]:
print(x['b'])
print(x[-1])

2
4

/tmp/ipython-input-1583931744.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(x[-1])

In [ ]:
import pandas as pd
x=pd.Series(range(10),name='Kajal')
print(x)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: Kajal, dtype: int64

In [ ]:
import pandas as pd
x=pd.Series(range(1,11),name='Kajal')
print(x)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Kajal, dtype: int64

In [ ]:
import pandas as pd
x=pd.Series(range(1,10),name='Kajal',index=[x for x in 'abcdefghi'])
print(x)


# OR

import pandas as pd
x = pd.Series(range(1, 10), name='Kajal', index=list('abcdefghi'))
print(x)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64

# Series using NumPy Array :-

In [ ]:
import pandas as pd
import numpy as np
df=np.array([1,2,3,4,5])
print(df)

df1=pd.Series(df,name='Ajay')
print(df1)

[1 2 3 4 5]
0    1
1    2
2    3
3    4
4    5
Name: Ajay, dtype: int64

# 11-10-2025
#Series using mathamatical expression :-

In [ ]:
import numpy as np
import pandas as pd
ser=np.arange(10,15)
serobj= pd.Series(data=ser*5,index=ser)
print(serobj)


import numpy as np
import pandas as pd
ser=np.arange(10,15)
serobj= pd.Series(data=ser*5,name='Sachin')
print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int64
0    50
1    55
2    60
3    65
4    70
Name: Sachin, dtype: int64

**Series with linspace Function**

# np.arange()
---- Create sequence with a step size

**Syntax**

----- np.arange(start, stop, step)

# np.linspace()
------ Create sequence with a fixed number of elements

**Syntax**

------ np.linspace(start, stop, num)

In [ ]:
import numpy as np
import pandas as pd
# series with numpy linspace()
ser1=pd.Series(np.linspace(3,33,3))
print(ser1)

# series with numpy linspace()
ser1=pd.Series(np.linspace(3,33,3),index=list('abc'))
print(ser1)

# series with numpy linspace()
ser3=pd.Series(np.linspace(3,33,4))
print(ser3)

# series with numpy linspace()
ser3=pd.Series(np.linspace(3,33,4),index=list('abcd'))
print(ser3)

# series with numpy linspace()
ser4=pd.Series(np.linspace(1,100,10))
print(ser4)

0     3.0
1    18.0
2    33.0
dtype: float64
a     3.0
b    18.0
c    33.0
dtype: float64
0     3.0
1    13.0
2    23.0
3    33.0
dtype: float64
a     3.0
b    13.0
c    23.0
d    33.0
dtype: float64
0      1.0
1     12.0
2     23.0
3     34.0
4     45.0
5     56.0
6     67.0
7     78.0
8     89.0
9    100.0
dtype: float64

# # Series with Arange function :-

In [ ]:
import numpy as np
import pandas as pd
# Seiers with Arange :-
arr=pd.Series(np.arange(3,33,3))
print(arr)

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
9    30
dtype: int64

# Concat function

In [ ]:
import pandas as pd
ser1=pd.Series([2,4,6,8])
ser2=pd.Series([10,12,14,16])
ser3=pd.concat([ser1,ser2],axis=0)
print(ser3)

0     2
1     4
2     6
3     8
0    10
1    12
2    14
3    16
dtype: int64

In [ ]:
import pandas as pd
ser1=pd.Series([2,4,6,8])
ser2=pd.Series([10,12,14,16])
ser3=pd.concat([ser1,ser2],axis=1)
print(ser3)

   0   1
0  2  10
1  4  12
2  6  14
3  8  16

# Series from Dictionary :-

A dictionary is a Python data type that stores data in key–value pairs, allowing fast access using the key.

**Synatx**

dictionary_name = { key1: value1, key2: value2, key3: value3 }

In [ ]:
import numpy as np
import pandas as pd
info={'x':1,'y':2,'z':3}
a=pd.Series(info)
print(a)

x    1
y    2
z    3
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
info={'x':1,'y':2,'z':3}
a=pd.Series(info,index=[1,2,3])
print(a)

1   NaN
2   NaN
3   NaN
dtype: float64

In [ ]:
import numpy as np
import pandas as pd
info={'x':1,'y':2,'z':3}
a=pd.Series(info,index=['x','y','s'])
print(a)

x    1.0
y    2.0
s    NaN
dtype: float64

21-10-2025
# Series

In [ ]:
import numpy as np
import pandas as pd

y = pd.Series(data=[11, 2, 18], index=['a', 'b', 'c'])

print(y.index)
print(y.values)

Index(['a', 'b', 'c'], dtype='object')
[11  2 18]

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
print(a.dtype)
print(a.nbytes)
print(a.size)

int64
32
4

In [ ]:
import numpy as np
import pandas as pd
b=pd.Series(data=[4,9,8,6,5], index=['x','y','z','a','b'])
print(b.dtype)
print(b.nbytes)
print(b.size)

int64
40
5

**Shape**

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
print(a.shape)
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
print(b.shape)

(4,)
(3,)

**Retrive Dimension**

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
print(a.size,b.size)
print(a.nbytes,b.nbytes)
print(a.ndim,b.ndim)

4 3
32 24
1 1

**Emptiness check**

In [ ]:
import numpy as np
import pandas as pd
a=pd.Series(data=[1,2,3,np.nan])
b=pd.Series(data=[4.9,8.2,5.6], index=['x','y','z'])
c=pd.Series()
print(a.empty,b.empty,c.empty)
print(a.hasnans,b.hasnans,c.hasnans)

False False True
True False False

**28-10-2025**

# Data Frame :-
it is use to create 2-d tbale od data structure

structurec :-
pd.DataFrame(.........)

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data,index=[10,11,12,13,14])
print(df)

    0
10  1
11  2
12  3
13  4
14  5

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data,index=[10,11,12,13,14],columns=['a'])
print(df)

    a
10  1
11  2
12  3
13  4
14  5

In [ ]:
import pandas as pd
data=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(data)
print(df)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [ ]:
import pandas as pd
data=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(data,index=['r1','r2'])
print(df)

    0  1  2  3   4
r1  1  2  3  4   5
r2  6  7  8  9  10

In [ ]:
import pandas as pd
data=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(data,index=['r1','r2'],columns=['a','b','c','d','e'])
print(df)

    a  b  c  d   e
r1  1  2  3  4   5
r2  6  7  8  9  10

In [ ]:
import pandas as pd
df=pd.DataFrame([[1,2],[3,4]],index=['r1','r2'],columns=['a','b'])
print(df)

    a  b
r1  1  2
r2  3  4

In [ ]:
import pandas as pd
data=[['Alex',10],['BoB',20],['Clarke',15]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     BoB   20
2  Clarke   15

In [ ]:
import pandas as pd
data=[['Alex',10],['BoB',20],['Clarke',15]]
df=pd.DataFrame(data,columns=['Name','Age'],index=[1,2,3])
print(df)

     Name  Age
1    Alex   10
2     BoB   20
3  Clarke   15

In [ ]:
import pandas as pd
data={'Name':['Ram','Tom','Jack','Steeve'],'Age':[22,34,21,20]}
df=pd.DataFrame(data)
print(df)

     Name  Age
0     Ram   22
1     Tom   34
2    Jack   21
3  Steeve   20

In [ ]:
import pandas as pd
data={'Name':['Ram','Tom','Jack','Steeve'],'Age':[22,34,21,20]}
df=pd.DataFrame(data,index=[1,2,3,4])
print(df)

     Name  Age
1     Ram   22
2     Tom   34
3    Jack   21
4  Steeve   20

In [ ]:
import pandas as pd
data=[{'a':15,'b':21},{'a':38,'b':40,'c':54}]
df=pd.DataFrame(data,index=[1,2])
print(df)

    a   b     c
1  15  21   NaN
2  38  40  54.0

# 03-11-2025

Ransom Function

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df)

          x         y         z         w
a -2.833082 -0.582040  1.208908  2.539286
b  0.853906 -0.396750  2.445874 -0.950757
c  0.996649  0.539004  0.190549 -0.731057
d  0.406114  0.328858 -0.177867 -0.124914
e  0.166054 -0.325081 -1.745116  0.542855

In [ ]:
df[df['x']>0]

          x         y         z         w
b  0.853906 -0.396750  2.445874 -0.950757
c  0.996649  0.539004  0.190549 -0.731057
d  0.406114  0.328858 -0.177867 -0.124914
e  0.166054 -0.325081 -1.745116  0.542855

In [ ]:
df['x']

a   -2.833082
b    0.853906
c    0.996649
d    0.406114
e    0.166054
Name: x, dtype: float64

In [ ]:
df['x']>0

a    False
b     True
c     True
d     True
e     True
Name: x, dtype: bool

In [ ]:
print(df[df['x']>0].loc['b']['w'])

-0.9507570749487303

**Logical Operator**

# AND &

In [ ]:
df[(df['x']>0) & (df['w']>1)]

Empty DataFrame
Columns: [x, y, z, w]
Index: []

# Or |

In [ ]:
df[(df['x']>0) | (df['w']>1)]

          x         y         z         w
a -2.833082 -0.582040  1.208908  2.539286
b  0.853906 -0.396750  2.445874 -0.950757
c  0.996649  0.539004  0.190549 -0.731057
d  0.406114  0.328858 -0.177867 -0.124914
e  0.166054 -0.325081 -1.745116  0.542855

# NOT !

Not with and { & }

In [ ]:
df[~((df['x'] > 0) & (df['w'] > 1))]

          x         y         z         w
a -2.833082 -0.582040  1.208908  2.539286
b  0.853906 -0.396750  2.445874 -0.950757
c  0.996649  0.539004  0.190549 -0.731057
d  0.406114  0.328858 -0.177867 -0.124914
e  0.166054 -0.325081 -1.745116  0.542855

Not with | { or }

In [ ]:
df[~((df['x'] > 0) | (df['w'] > 1))]

Empty DataFrame
Columns: [x, y, z, w]
Index: []

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df)
print(df.reset_index())

          x         y         z         w
a  0.901364  0.862264  0.154697  1.620698
b -0.147018  0.994436  1.101283 -1.712535
c -1.414530 -0.807931  2.060276  1.270383
d  0.356629 -0.205880 -0.763277  0.812700
e -2.705697  0.180873  0.813621  0.621189
  index         x         y         z         w
0     a  0.901364  0.862264  0.154697  1.620698
1     b -0.147018  0.994436  1.101283 -1.712535
2     c -1.414530 -0.807931  2.060276  1.270383
3     d  0.356629 -0.205880 -0.763277  0.812700
4     e -2.705697  0.180873  0.813621  0.621189

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
outer=['a','a','a','b','b','b']
inner=[1,2,3,1,2,3]
h_index=list(zip(outer,inner))
h_index=pd.MultiIndex.from_tuples(h_index)
df1=pd.DataFrame(randn(6,2))
print(df1)

          0         1
0 -1.399206 -1.919257
1 -1.039753  0.068354
2 -1.246542 -0.770129
3 -0.042975 -0.592676
4 -0.260398 -0.774892
5 -0.441009 -1.197412

In [ ]:
df1=pd.DataFrame(randn(6,2),h_index)
print(df1)

            0         1
a 1 -1.389235 -0.610144
  2 -0.287861 -0.689855
  3 -0.877495  0.491106
b 1  0.191534 -0.187909
  2  0.103349  0.994624
  3 -0.752531 -1.768553

In [ ]:
df1=pd.DataFrame(randn(6,2),h_index,['A','B'])
print(df1)

            A         B
a 1 -0.319354 -0.213823
  2 -0.980146 -0.918304
  3 -0.922584 -1.198120
b 1  1.134089 -0.421573
  2  0.304697 -1.811866
  3  0.312618 -1.448631

# INDEX,, REINDEX,, Rename

In [ ]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
print(df.index)
print(df)

RangeIndex(start=0, stop=2, step=1)
   A  B
0  1  3
1  2  4

In [ ]:
df.set_index('A', inplace=True) # Sets column 'A' as the new index
print(df)

   B
A
1  3
2  4

In [ ]:
df.set_index('B', inplace=True) # Sets column 'A' as the new index
print(df)

Empty DataFrame
Columns: []
Index: [3, 4]

In [ ]:
df.reset_index(inplace=True) # Converts the index back to a column and creates a default integer index
print(df)

   B
0  3
1  4

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3]}, index=['x', 'y', 'z'])
new_index = ['z','y','a']
df_reindexed = df.reindex(new_index, fill_value=0)
print(df_reindexed)

   A
z  3
y  2
a  0

In [ ]:
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
new_columns = ['B', 'C']
df_reindexed_cols = df.reindex(columns=new_columns)
print(df_reindexed_cols)

   B   C
0  3 NaN
1  4 NaN

In [ ]:
df = pd.DataFrame({'A': [1, 2]}, index=['old_idx1', 'old_idx2'])
df_renamed_idx = df.rename(index={'old_idx1': 'new_idx1'})
print(df_renamed_idx)

          A
new_idx1  1
old_idx2  2

# **07-11-2025**

#**Group By**

group by m table hamesha logical bnte h internl memory me bo physicl nhi dikhte direct.
usko dekhne ke liye print k use krna hoga hamesha

or syntax

df1=df.groupby().groups

print(df1)

likhna hoga hamesha

In [ ]:
import pandas as pd
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

Point ke base pr group banana useless h kuki sab unique h

In [ ]:
df1=df.groupby('Points').groups
print(df1)

{673: [3], 690: [11], 694: [8], 701: [9], 741: [4], 756: [6], 788: [7], 789: [1], 804: [10], 812: [5], 863: [2], 876: [0]}

In [ ]:
df1=df.groupby('Year').groups
print(df1)

{2014: [0, 2, 4, 9], 2015: [1, 3, 5, 10], 2016: [6, 8], 2017: [7, 11]}

**MAX**

In [ ]:
df2=df.groupby('Year').max()
print(df2)

        Team  Rank  Points
Year
2014  Royals     4     876
2015  Royals     4     812
2016  Riders     2     756
2017  Riders     2     788

In [ ]:
df2=df.groupby('Year').max()['Points']
print(df2)

Year
2014    876
2015    812
2016    756
2017    788
Name: Points, dtype: int64

In [ ]:
df2=df.groupby('Year').max()[['Rank','Points']]
print(df2)

      Rank  Points
Year
2014     4     876
2015     4     812
2016     2     756
2017     2     788

**Mean**

In [ ]:
df2=df.groupby('Year')['Points'].mean()
print(df2)

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

**SUM**

In [ ]:
df2=df.groupby('Year').sum()[['Rank','Points']]
print(df2)

      Rank  Points
Year
2014    10    3181
2015    10    3078
2016     3    1450
2017     3    1478

**AGG**

In [ ]:
df2=df.groupby('Year')['Points'].agg('sum')
print(df2)

Year
2014    3181
2015    3078
2016    1450
2017    1478
Name: Points, dtype: int64

#**Transformation**

In [ ]:
import  pandas as pd
import numpy as np
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
Grouped=df.groupby('Team')
print(Grouped.groups)

{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [ ]:
Grouped=df.groupby('Team')
score= lambda x:x+20
print(Grouped.transform(score))
# +20 in each value like { 1 = 21, 2014= 2034.......}

    Rank  Year  Points
0     21  2034     896
1     22  2035     809
2     22  2034     883
3     23  2035     693
4     23  2034     761
5     24  2035     832
6     21  2036     776
7     21  2037     808
8     22  2036     714
9     24  2034     721
10    21  2035     824
11    22  2037     710

# **08-11-2025**

#**Filteration**

In [ ]:
import  pandas as pd
import numpy as np
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df=pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
print(df.groupby('Team').filter(lambda x:len(x)>=3))
# it work as same as in sql group by having count

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690

In [ ]:
print(df.groupby('Team').filter(lambda x:len(x)==2))
# it work as same as in sql group by having count

      Team  Rank  Year  Points
2   Devils     2  2014     863
3   Devils     3  2015     673
9   Royals     4  2014     701
10  Royals     1  2015     804

In [ ]:
print(df.groupby('Team').filter(lambda x:len(x)<=3))
# it work as same as in sql group by having count

      Team  Rank  Year  Points
2   Devils     2  2014     863
3   Devils     3  2015     673
9   Royals     4  2014     701
10  Royals     1  2015     804

#**WORK ON DATA-SET**

# IMDB DATASET

**QUESTION`s**

PRACTICE SET :-

1. Write a Python Pandas program to get the columns of the DataFrame ?
2. Write a Pandas program to get the information of the DataFrame ?
3. Write a Pandas program to get the details of the third movie of the DataFrame ?
4. Write a Pandas program to count the number of rows and columns of the     DataFrame ?
5. Write a Pandas program to get the details of the columns name and genres of the DataFrame ?
6. Write a Pandas program to get the details of the movie with name 'Grumpier Old Men'?
7. Write a Pandas program to get the details of fifth movie of the DataFram ?
8. Write a Pandas program to create a smaller Dataframe with a subset of all features ?
9. Write a Pandas program to display the first 10 rows of the Dataframe ?
10. Write a Pandas program to sort the DataFrame based on duration ?

In [2]:
# Data-set import

import pandas as pd
df=pd.read_csv('/content/imdb_data.csv')
print(df)

        id                              belongs_to_collection    budget  \
0        1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  14000000
1        2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
2        3                                                NaN   3300000
3        4                                                NaN   1200000
4        5                                                NaN         0
...    ...                                                ...       ...
2995  2996                                                NaN         0
2996  2997                                                NaN         0
2997  2998                                                NaN  65000000
2998  2999                                                NaN  42000000
2999  3000                                                NaN  35000000

                                                 genres  \
0                        [{'id': 35, 'name': 'Comedy'}]
1     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                         [{'id': 18, 'name': 'Drama'}]
3     [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
...                                                 ...
2995  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

                               homepage    imdb_id original_language  \
0                                   NaN  tt2637294                en
1                                   NaN  tt0368933                en
2     http://sonyclassics.com/whiplash/  tt2582802                en
3            http://kahaanithefilm.com/  tt1821480                hi
4                                   NaN  tt1380152                ko
...                                 ...        ...               ...
2995                                NaN  tt0109403                en
2996                                NaN  tt2364975                sv
2997                                NaN  tt0116908                en
2998     http://www.alongcamepolly.com/  tt0343135                en
2999   http://www.abductionthefilm.com/  tt1600195                en

                                original_title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                         마린보이
...                                        ...
2995                                   Chasers
2996                               Vi är bäst!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               overview  popularity  ...  \
0     When Lou, who has become the "father of the In...    6.575393  ...
1     Mia Thermopolis is now a college graduate and ...    8.248895  ...
2     Under the direction of a ruthless instructor, ...   64.299990  ...
3     Vidya Bagchi (Vidya Balan) arrives in Kolkata ...    3.174936  ...
4     Marine Boy is the story of a former national s...    1.148070  ...
...                                                 ...         ...  ...
2995  Military men Rock Reilly and Eddie Devane are ...    9.853270  ...
2996  Three girls in 1980s Stockholm decide to form ...    3.727996  ...
2997  Samantha Caine, suburban homemaker, is the ide...   14.482345  ...
2998  Reuben Feffer is a guy who's spent his entire ...   15.725542  ...
2999  A young man sets out to uncover the truth abou...   10.512109  ...

     release_date runtime                                   spoken_languages  \
0         2/20/15    93.0           [{'iso_639_1': 'en', 'name': 'English'}]
1          8/6/04   113.0           [{'iso_639_1': 'en', 'name': 'English'}]
2        10/10/14   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
3          3/9/12   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4          2/5/09   118.0           [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
...           ...     ...                                                ...
2995      4/22/94   102.0           [{'iso_639_1': 'en', 'name': 'English'}]
2996      3/28/13   102.0           [{'iso_639_1': 'sv', 'name': 'svenska'}]
2997     10/11/96   120.0           [{'iso_639_1': 'en', 'name': 'English'}]
2998      1/16/04    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
2999      9/22/11   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

        status                                            tagline  \
0     Released  The Laws of Space and Time are About to be Vio...
1     Released  It can take a lifetime to find true love; she'...
2     Released    The road to greatness can take you to the edge.
3     Released                                                NaN
4     Released                                                NaN
...        ...                                                ...
2995  Released  It was supposed to be a routine prisoner trans...
2996  Released                                                NaN
2997  Released               What's forgotten is not always gone.
2998  Released  For the most cautious man on Earth, life is ab...
2999  Released          They stole his life. He's taking it back.

                                         title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                   Marine Boy
...                                        ...
2995                                   Chasers
2996                          We Are the Best!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                               Keywords  \
0     [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1     [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2     [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3     [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                   NaN
...                                                 ...
2995  [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996  [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...
2997  [{'id': 441, 'name': 'assassination'}, {'id': ...
2998  [{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...
2999  [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...

                                                   cast  \
0     [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2     [{'cast_id': 5, 'character': 'Andrew Neimann',...
3     [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
...                                                 ...
2995  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
2996  [{'cast_id': 5, 'character': 'Bobo', 'credit_i...
2997  [{'cast_id': 10, 'character': 'Samantha Caine ...
2998  [{'cast_id': 8, 'character': 'Reuben Feffer', ...
2999  [{'cast_id': 2, 'character': 'Nathan Harper', ...

                                                   crew    revenue
0     [{'credit_id': '59ac067c92514107af02c8c8', 'de...   12314651
1     [{'credit_id': '52fe43fe9251416c7502563d', 'de...   95149435
2     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...   13092000
3     [{'credit_id': '52fe48779251416c9108d6eb', 'de...   16000000
4     [{'credit_id': '52fe464b9251416c75073b43', 'de...    3923970
...                                                 ...        ...
2995  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...    1596687
2996  [{'credit_id': '5716b72ac3a3686678012c84', 'de...     180590
2997  [{'credit_id': '52fe443a9251416c7502d579', 'de...   89456761
2998  [{'credit_id': '556f817b9251410866000a63', 'de...  171963386
2999  [{'credit_id': '5391990d0e0a260fb5001629', 'de...   82087155

[3000 rows x 23 columns]

In [3]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [4]:
df.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [5]:
df['budget']

0       14000000
1       40000000
2        3300000
3        1200000
4              0
          ...
2995           0
2996           0
2997    65000000
2998    42000000
2999    35000000
Name: budget, Length: 3000, dtype: int64

In [6]:
# Write a Python Pandas program to get the columns of the DataFrame.....?

import pandas as pd
df=pd.read_csv("/content/imdb_data.csv")
print(df.columns)

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [7]:
# Write a Pandas program to get the information of the DataFrame ......?

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB
None

In [8]:
# Write a Pandas program to get the details of the third movie of the DataFrame....?
df.loc[2]

id                                                                       3
belongs_to_collection                                                  NaN
budget                                                             3300000
genres                                       [{'id': 18, 'name': 'Drama'}]
homepage                                 http://sonyclassics.com/whiplash/
imdb_id                                                          tt2582802
original_language                                                       en
original_title                                                    Whiplash
overview                 Under the direction of a ruthless instructor, ...
popularity                                                        64.29999
poster_path                               /lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg
production_companies     [{'name': 'Bold Films', 'id': 2266}, {'name': ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                      10/10/14
runtime                                                              105.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                    The road to greatness can take you to the edge.
title                                                             Whiplash
Keywords                 [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
cast                     [{'cast_id': 5, 'character': 'Andrew Neimann',...
crew                     [{'credit_id': '54d5356ec3a3683ba0000039', 'de...
revenue                                                           13092000
Name: 2, dtype: object

In [9]:
# Write a Pandas program to count the number of rows and columns of the DataFrame..........?
print(df.shape)

(3000, 23)

In [10]:
# Write a Pandas program to get the details of the columns name and genres of the DataFrame ?

print(df[['title','genres']])

                                         title  \
0                       Hot Tub Time Machine 2
1     The Princess Diaries 2: Royal Engagement
2                                     Whiplash
3                                      Kahaani
4                                   Marine Boy
...                                        ...
2995                                   Chasers
2996                          We Are the Best!
2997                   The Long Kiss Goodnight
2998                          Along Came Polly
2999                                 Abduction

                                                 genres
0                        [{'id': 35, 'name': 'Comedy'}]
1     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                         [{'id': 18, 'name': 'Drama'}]
3     [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
...                                                 ...
2995  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997  [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999  [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...

[3000 rows x 2 columns]

In [14]:
# Write a Pandas program to get the details of the movie with name 'Grumpier Old Men'?

print(df[df['title']=='Grumpier Old Men'])

Empty DataFrame
Columns: [id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, revenue]
Index: []

[0 rows x 23 columns]

In [15]:
# Write a Pandas program to get the details of fifth movie of the DataFram ?

print(df.loc[4])

id                                                                       5
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
homepage                                                               NaN
imdb_id                                                          tt1380152
original_language                                                       ko
original_title                                                        마린보이
overview                 Marine Boy is the story of a former national s...
popularity                                                         1.14807
poster_path                               /m22s7zvkVFDU9ir56PiiqIEWFdT.jpg
production_companies                                                   NaN
production_countries         [{'iso_3166_1': 'KR', 'name': 'South Korea'}]
release_date                                                        2/5/09
runtime                                                              118.0
spoken_languages                  [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
status                                                            Released
tagline                                                                NaN
title                                                           Marine Boy
Keywords                                                               NaN
cast                     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
crew                     [{'credit_id': '52fe464b9251416c75073b43', 'de...
revenue                                                            3923970
Name: 4, dtype: object

In [16]:
# Write a Pandas program to display the first 10 rows of the Dataframe ?

print(df.head(10))

   id                              belongs_to_collection    budget  \
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  14000000
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  40000000
2   3                                                NaN   3300000
3   4                                                NaN   1200000
4   5                                                NaN         0
5   6                                                NaN   8000000
6   7                                                NaN  14000000
7   8                                                NaN         0
8   9  [{'id': 256377, 'name': 'The Muppet Collection...         0
9  10                                                NaN   6000000

                                              genres  \
0                     [{'id': 35, 'name': 'Comedy'}]
1  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                      [{'id': 18, 'name': 'Drama'}]
3  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
5  [{'id': 16, 'name': 'Animation'}, {'id': 12, '...
6  [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
7                [{'id': 99, 'name': 'Documentary'}]
8  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
9  [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...

                             homepage    imdb_id original_language  \
0                                 NaN  tt2637294                en
1                                 NaN  tt0368933                en
2   http://sonyclassics.com/whiplash/  tt2582802                en
3          http://kahaanithefilm.com/  tt1821480                hi
4                                 NaN  tt1380152                ko
5                                 NaN  tt0093743                en
6  http://www.thepossessionmovie.com/  tt0431021                en
7                                 NaN  tt0391024                en
8                                 NaN  tt0117110                en
9                                 NaN  tt0310281                en

                             original_title  \
0                    Hot Tub Time Machine 2
1  The Princess Diaries 2: Royal Engagement
2                                  Whiplash
3                                   Kahaani
4                                      마린보이
5    Pinocchio and the Emperor of the Night
6                            The Possession
7                              Control Room
8                    Muppet Treasure Island
9                             A Mighty Wind

                                            overview  popularity  ...  \
0  When Lou, who has become the "father of the In...    6.575393  ...
1  Mia Thermopolis is now a college graduate and ...    8.248895  ...
2  Under the direction of a ruthless instructor, ...   64.299990  ...
3  Vidya Bagchi (Vidya Balan) arrives in Kolkata ...    3.174936  ...
4  Marine Boy is the story of a former national s...    1.148070  ...
5  Pinocchio and his friends, a glow worm and a m...    0.743274  ...
6  A young girl buys an antique box at a yard sal...    7.286477  ...
7  A chronicle which provides a rare window into ...    1.949044  ...
8  After telling the story of Flint's last journe...    6.902423  ...
9  In "A Mighty Wind", director Christopher Guest...    4.672036  ...

  release_date runtime                                   spoken_languages  \
0      2/20/15    93.0           [{'iso_639_1': 'en', 'name': 'English'}]
1       8/6/04   113.0           [{'iso_639_1': 'en', 'name': 'English'}]
2     10/10/14   105.0           [{'iso_639_1': 'en', 'name': 'English'}]
3       3/9/12   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4       2/5/09   118.0           [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
5       8/6/87    83.0           [{'iso_639_1': 'en', 'name': 'English'}]
6      8/30/12    92.0           [{'iso_639_1': 'en', 'name': 'English'}]
7      1/15/04    84.0  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...
8      2/16/96   100.0           [{'iso_639_1': 'en', 'name': 'English'}]
9      4/16/03    91.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released  The Laws of Space and Time are About to be Vio...
1  Released  It can take a lifetime to find true love; she'...
2  Released    The road to greatness can take you to the edge.
3  Released                                                NaN
4  Released                                                NaN
5  Released                                                NaN
6  Released               Fear The Demon That Doesn't Fear God
7  Released              Different channels. Different truths.
8  Released                        Set sail for Muppet mayhem!
9  Released           Back together for the first time, again.

                                      title  \
0                    Hot Tub Time Machine 2
1  The Princess Diaries 2: Royal Engagement
2                                  Whiplash
3                                   Kahaani
4                                Marine Boy
5    Pinocchio and the Emperor of the Night
6                            The Possession
7                              Control Room
8                    Muppet Treasure Island
9                             A Mighty Wind

                                            Keywords  \
0  [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1  [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2  [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3  [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                NaN
5                                                NaN
6                                                NaN
7  [{'id': 917, 'name': 'journalism'}, {'id': 163...
8  [{'id': 2041, 'name': 'island'}, {'id': 4418, ...
9  [{'id': 11800, 'name': 'mockumentary'}, {'id':...

                                                cast  \
0  [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1  [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2  [{'cast_id': 5, 'character': 'Andrew Neimann',...
3  [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4  [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
5  [{'cast_id': 6, 'character': 'Pinocchio (voice...
6  [{'cast_id': 23, 'character': 'Clyde', 'credit...
7  [{'cast_id': 2, 'character': 'Himself', 'credi...
8  [{'cast_id': 1, 'character': 'Long John Silver...
9  [{'cast_id': 24, 'character': 'Jonathan Steinb...

                                                crew   revenue
0  [{'credit_id': '59ac067c92514107af02c8c8', 'de...  12314651
1  [{'credit_id': '52fe43fe9251416c7502563d', 'de...  95149435
2  [{'credit_id': '54d5356ec3a3683ba0000039', 'de...  13092000
3  [{'credit_id': '52fe48779251416c9108d6eb', 'de...  16000000
4  [{'credit_id': '52fe464b9251416c75073b43', 'de...   3923970
5  [{'credit_id': '52fe46f49251416c9106558b', 'de...   3261638
6  [{'credit_id': '52fe4981c3a368484e12ee29', 'de...  85446075
7  [{'credit_id': '52fe47a69251416c750a0daf', 'de...   2586511
8  [{'credit_id': '52fe43c89251416c7501deb3', 'de...  34327391
9  [{'credit_id': '52fe45609251416c750545b3', 'de...  18750246

[10 rows x 23 columns]

In [ ]:
# Write a Pandas program to sort the DataFrame based on duration ?

In [ ]:
#  Write a Pandas program to create a smaller Dataframe with a subset of all features ?