<a href="https://colab.research.google.com/github/JatindraPatel/Learning-Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS :-

Pandas is a Python library used for data analysis and data manipulation. It’s
one of the most important tools for data analysts, data scientists, and machine learning engineers.


In short padas is use for the data visulatization.

Pandas helps you read, clean, analyze, and process data easily — just like Excel but with Python code.

Pandas is like Excel + SQL + Python — all combined in one tool for data work.

In [1]:
# 1-D Series using list :-

import pandas as pd
x=pd.Series([1,2,3,4,5])
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# 1-D Series using tuple :-

import pandas as pd
a=(1,2,3,4,5)
x=pd.Series(a)
print(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(x)

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
import pandas as pd
x=pd.Series([1,2,3,4],index=['a','b','c','d'],name='jai')
print(x)

a    1
b    2
c    3
d    4
Name: jai, dtype: int64

In [8]:
print(x['b'])
print(x[-1])

2
4

/tmp/ipython-input-1583931744.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(x[-1])

In [15]:
import pandas as pd
x=pd.Series(range(10),name='Kajal')
print(x)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: Kajal, dtype: int64

In [16]:
import pandas as pd
x=pd.Series(range(1,11),name='Kajal')
print(x)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Kajal, dtype: int64

In [23]:
import pandas as pd
x=pd.Series(range(1,10),name='Kajal',index=[x for x in 'abcdefghi'])
print(x)


# OR

import pandas as pd
x = pd.Series(range(1, 10), name='Kajal', index=list('abcdefghi'))
print(x)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64
a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
Name: Kajal, dtype: int64

# Series using NumPy Array :-

In [26]:
import pandas as pd
import numpy as np
df=np.array([1,2,3,4,5])
print(df)

df1=pd.Series(df,name='Ajay')
print(df1)

[1 2 3 4 5]
0    1
1    2
2    3
3    4
4    5
Name: Ajay, dtype: int64